/* You can add global styles to this file, and also import other style files */

/* Fonts */
:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Amatic SC", sans-serif;
    --font-secondary: "Inter", sans-serif;
}

/* Colors */
:root {
    --color-default: #212529;
    --color-primary: #73993D;
    --color-secondary: #144681;
    --color-tertiary: #7fff00;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: var(--font-default);
    color: var(--color-default);
}
  
a {
    color: var(--color-primary);
    text-decoration: none;
}
  
a:hover {
    color: #7fff00;
    text-decoration: none;
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-secondary);
}